<h1>Lists</h1>
<div class="row row-cols-3">
  <% @lists.each do |l| %>
    <%= link_to (list_path(l)) do %>
      <div class="card-category col" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path l.photo.key, width: 400, height: 300, crop: :fill %>)">
        <%= l.name %>
      </div>
    <% end %>
  <% end %>
</div>
